.product-card {
  text-decoration: none;

  position: relative;
  flex: 1;

  min-width: 200px;
  max-width: 250px;

  box-shadow: 0px 0px 3px rgba(174, 174, 174, 0.5);
  cursor: pointer;

  text-align: center;
}

.product-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product-preview p {
  padding: 10px;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: rgb(231, 231, 231);
}

.product-title {
  margin-top: 10px;
  color: rgb(54, 95, 166);
}

.product-hr {
  position: absolute;
  left: 5%;
  width: 90%;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(174, 174, 174, 0.5);
}

.product-buy-now-text {
  color: rgb(56, 59, 61);
  padding: 8px 0;
}

.product-price {
  font-weight: bold;
  color: rgb(25, 182, 25);
  padding-bottom: 5px;
}
