@media only screen and (max-width: 730px) {
  .cart-item-container {
    margin-top: 10% !important;
  }

  .cart-item-title {
    font-size: 25px !important;
  }

  .cart-item-image {
    width: 100px !important;
  }
}

@media only screen and (max-width: 450px) {
  .cart-checkout-btn {
    margin-bottom: 200px !important;
  }

  .cart-item-title {
    font-size: 15px !important;
  }

  .details-id {
    font-size: 7px !important;
  }

  .details-separator {
    border-right: none !important;
    border-bottom: 1px solid black;
  }

  .details-info-container {
    width: 210px !important;
  }
}

.cart-container {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-item-container {
  padding: 10px 0;
  display: grid;
  grid-auto-rows: 1fr;
  justify-items: center;
  row-gap: 20px;

  width: 100%;
  max-height: 50%;
  overflow-y: scroll;
}

.cart-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.cart-data {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 95%;
}

.cart-data-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-data-price-container {
  display: flex;
  align-items: center;
  column-gap: 100px;

  font-weight: bold;
  font-size: 20px;
}

.cart-checkout-btn {
  width: 95%;
  border: 1px solid rgb(2, 123, 208);
  background-color: rgb(2, 123, 208);
  padding: 7px;
  border-radius: 5px;

  color: white;
  text-align: center;

  text-decoration: none;
  font-size: 20px;

  transition: background-color 0.1s, color 0.1s;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
